body{
    height: 100%
    background-color: #FFEEDF;
    text-align: center;
    display:flex;
    justify-content:center;
    align-items:center
}
button{
    
    color: #FFEEDF;
    background-color: #1C5A4E;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    font-size: 200px;
    font-family: 'Montserrat', sans-serif
}